
@media screen and (max-width:750px) {
    
    .mobile-left{
        width: 24px;
        height: 24px;
        background-color: #fff;
        line-height: 1.6;
    }
    .mobile-header-left-drp{
        width: 0;
        height: 814px;
        background-color: #fff;
        transition: ease-in 0.1s;
        visibility:hidden;
        position: absolute;
        top: -16px;
        z-index: 6;
        left: 0;
    }    
    .mobile-header-left-drp{
        width: 0px;
        visibility: hidden;
    }
    .mobile-header-left-drp.active{
        width: 50% ;
        visibility: visible;
        position: absolute;
        opacity: 1;
        z-index: 333;
        top: 0;
        overflow: auto;
    }
    .close-item{
        padding: 20px 25px 0px;
    }
    .mobile-item-header{
        width: 90%;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        color: #3a3a3a;
        padding: 12px 0 12px 20px;
        border-bottom: 1px solid rgba(58,58,58,.05);
        position: relative;
        flex-wrap: wrap;
        text-decoration: none;
    }
    .mobile-item-header-left{ 
        float: left;
        display: flex;
    }
    .mobile-item-header-right{
        float: right;
    }
    .mobile-header-left-ul{
        list-style-type: none;
        overflow: auto;
        padding: 0;
    }
    .mobile-item-content-list{
        list-style: none;
        padding-left: 25px;
        height: 100%
    }
    .mobile-item-content{
        height: 0px;
        visibility: hidden;
    }
    .mobile-item-content.active{
        height: 100%;
        visibility: visible;
    }
    .mobile-item-content-link{
        text-decoration: none;
        color: #3a3a3a;
        line-height: 2.4;
    }
    .transform-img.active{
        transform: rotate(-180deg);
        transition: all .3s ease-in-out;
    }
    .transform-img{
        transition: all .3s ease-in-out;
        transform: rotate(0deg);
        position: absolute;
        right: 11px;
    }
    .mobile-item-header-img{
        margin-right: 7px;
    }
}